@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
html body {
  background-color: #40434E;
  font-family: 'Roboto Mono', monospace;
}

.footer {
  height: 5vh;
}

.column {
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

.pattern {
  background-image: url("../assets/crossline-lines.png");
  background-repeat: repeat;
  color: #40434E;
}

a {
  text-decoration: none !important;
}

/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #080705 #40434E;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #40434E;
}

*::-webkit-scrollbar-thumb {
  background-color: #40434E;
  border-radius: 20px;
  border: 3px solid #080705;
}

input, select, textarea {
  color: white;
}

.highlight {
  background: #2C2E36 !important;
  border-radius: 5px;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .scrollable-feed {
    height: 82vh;
    overflow-y: auto;
  }
  .scrollable-panel {
    height: 72vh;
    overflow-y: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .scrollable-feed {
    height: 83vh;
    overflow-y: auto;
  }
  .scrollable-panel {
    height: 73vh;
    overflow-y: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .scrollable-feed {
    height: 86vh;
    overflow-y: auto;
  }
  .scrollable-panel {
    height: 75vh;
    overflow-y: auto;
  }
}

#notification-dropdown {
  color: white;
}

#notification-dropdown:hover {
  color: #40434e;
  transition-duration: 0.1s;
}

#navigation-dropdown {
  color: white;
}

#navigation-dropdown:hover {
  color: #40434e;
  transition-duration: 0.1s;
}