.home-pattern {
    background-image: url("../assets/home-patter.png");
    background-repeat: repeat;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .scrollable-feed {
        height: 82vh;
        overflow-y: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .scrollable-feed {
        height: 83vh;
        overflow-y: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .scrollable-feed {
        height: 86vh;
        overflow-y: auto;
    }
}