.bg-login {
    /* The image used */
    background-image: url("../assets/login-picture.jpg");
    /* Full height */
    height: 30vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-02 {
    opacity: 0.2;
}

.form {
    background: #343A40;
    transition: background 0.15s ease-in-out;
}

.form:hover {
    background-color: #383E44 !important;
    border: #40434e;
}